<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Explosion Addin</Name><AddInID>{9716f0f9-a1c4-4e28-b661-c3ed23d9531a}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Charlotte Viner</Author><Company>Untitled</Company><Date>02/08/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="addin_addin.py" namespace="addin_addin"><ArcMap>
    <Commands>
        <Button caption="Explosion Assessment" category="Explosion Addin" class="ExplosionButtonClass" id="addin_addin.explosionbutton" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="Hello ComboBox" category="Explosion Addin" class="HelloComboBoxClass" id="addin_addin.hellocombobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Model Toolbar" category="Explosion Addin" id="addin_addin.modeltoolbar" showInitially="true"><Items><Button refID="addin_addin.explosionbutton" /><ComboBox refID="addin_addin.hellocombobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>